.Home {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 6vw 20vw;
  background-color: #484283;
  position: relative;
  gap: 30px;

  .Foon {
    position: absolute;
    background-color: #444b58b2;
    width: 100vh;
    height: 10vw;
    z-index: 40;
    width: 133.8%;
    left: -33.8%;
    height: 333vw;
    top: -74%;
  }

  .menu {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px;
    background-color: #ffffff;
    position: absolute;
    top: 35%;
    z-index: 100;
    left: 35.8%;

    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;

      h1 {
        font-size: 20px;
        font-weight: 700;
        color: #444b58;
        line-height: 20px;
        letter-spacing: 0%;
      }

      span {
        font-size: 14px;
        font-weight: 400;
        color: #b2b5bb;
        line-height: 100%;
        letter-spacing: 0%;
      }
    }

    .contai {
      display: flex;
      flex-direction: column;
      gap: 25px;
      border: solid 1px #d9d9d9;
      padding: 30px;
      border-radius: 5px;
      padding-bottom: 50px;

      h3 {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 16px;
        font-weight: 700;
        color: #444b58;
        line-height: 100%;
        letter-spacing: 0%;

        span {
          font-size: 16px;
          font-weight: 400;
          color: #b2b5bb;
          line-height: 100%;
          letter-spacing: 0%;
        }
      }

      p {
        font-size: 16px;
        font-weight: 400;
        color: #444b58;
        line-height: 100%;
        letter-spacing: 0%;
        display: flex;
        align-items: center;
        gap: 5px;
        cursor: pointer;
        padding-bottom: 10px;
      }

      .contai_cart {
        display: flex;
        flex-direction: column;
        gap: 50px;

        .cart {
          display: flex;
          align-items: end;
          gap: 20px;

          img {
            height: 45.60000228881836px;
          }

          h1 {
            display: flex;
            flex-direction: column;
            font-size: 16px;
            font-weight: 700;
            color: #444b58;
            line-height: 100%;
            letter-spacing: 0%;
            gap: 13px;

            span {
              font-size: 14px;
              font-weight: 400;
              color: #444b58;
              line-height: 100%;
              letter-spacing: 0%;
            }
          }

          p {
            font-size: 14px;
            font-weight: 400;
            color: #b2b5bb;
            line-height: 100%;
            letter-spacing: 0%;
          }
        }
      }
    }

    .contai_input {
      display: flex;
      flex-direction: column;
      gap: 10px;

      input {
        background-color: #f6f6f6;
        padding: 1.1vw 3vw;
        padding-left: 1vw;
        border: none;
        outline: none;
      }

      input::placeholder {
        font-size: 16px;
        font-weight: 400;
        color: #b2b5bb;
        line-height: 140%;
        letter-spacing: 0%;
      }
    }

    button {
      background-color: #f14f4f;
      font-size: 16px;
      font-weight: 400;
      color: #ffffff;
      border: none;
      line-height: 100%;
      letter-spacing: 0%;
      padding: 1vw 2vw;
      border-radius: 5px;
      z-index: 10;
      width: auto;
    }
  }

  h1 {
    font-size: 36px;
    font-weight: 400;
    color: #ffffff;
    line-height: 140%;
    letter-spacing: 0%;
    z-index: 10;
  }

  span {
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    line-height: 140%;
    letter-spacing: 0%;
    z-index: 10;
  }

  button {
    background-color: #f14f4f;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    border: none;
    line-height: 100%;
    letter-spacing: 0%;
    padding: 1vw 2vw;
    border-radius: 5px;
    z-index: 10;
    cursor: pointer;
    white-space: nowrap;
  }

  .fon {
    position: absolute;
    bottom: 29.5%;
    left: 27.5%;
    z-index: 1;
  }
}
